# Tested Python 3.12 environment; use with pip install -c, not as a cross-version requirement.
ase==3.29.0
build==1.6.1
certifi==2026.7.22
charset-normalizer==3.5.1
cloudpickle==3.1.2
contourpy==1.4.0
CoolProp==8.0.0
cycler==0.12.1
filelock==4.0.6
fonttools==4.66.0
GridDataFormats==1.2.0
idna==3.20
iniconfig==2.3.0
jax==0.11.2
jaxlib==0.11.2
joblib==1.6.0
kiwisolver==1.5.1
llvmlite==0.49.0
matplotlib==3.11.2
mda-xdrlib==0.2.0
MDAnalysis==2.10.0
ml_dtypes==0.6.0
mmtf-python==1.1.3
mrcfile==1.5.4
msgpack==1.2.3
numba==0.67.0
numexpr==2.14.2
numpy==2.5.3
opt_einsum==3.4.0
packaging==26.3
pandas==3.0.6
pillow==12.3.0
pluggy==1.6.0
Pygments==2.21.0
pymbar==4.0.3
pyparsing==3.3.3
pyproject_hooks==1.3.3
pytest==9.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
scipy==1.18.1
six==1.17.0
threadpoolctl==3.7.0
tqdm==4.70.1
typing_extensions==4.16.0
urllib3==2.8.0
